@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

/* Custom scrollbar styles for desktop only */
@media (min-width: 768px) {
    ::-webkit-scrollbar {
      width: 8px;
    }
  
    ::-webkit-scrollbar-track {
      border-radius: 20px;
      background: #f1f1f1;
    }
  
    ::-webkit-scrollbar-thumb {
      background: teal;
      border-radius: 20px;
    }
  }
  